nav{
	width:100vw;
	float:left;
	margin:0px;
	padding:0px;
	text-align:left;
	background-color:white;
	
}



/*.container-fluid{
	background: url("../images/laptop.png")center no-repeat;
	background-size:cover;
	width:90%;

}*/
@media screen and (max-width : 800px){
	img.bailey{
		height: 75px;
		width: 75px;
		border:1px solid white;
	}
}

@media only screen and (max-width : 1056px) and (min-width : 756px){
	img.pygame{
		height: 154px;
		width: 300px;
		border:1px solid white;
	}
}

@media only screen and (max-width : 1056px) and (min-width : 756px){
	img.blackjack{
		height: 154px;
		width: 300px;
		border:1px solid white;
	}
}



/* @media screen and (max-width : 488px){
	img.blackjack{
		height: 103px;
		width: 200px;
		
	}
} */


.project-text{
	margin-bottom: 10px;
}

#project img{
	margin-bottom: 20px;
	width: 100%;
	height: 100%;

}

.bailey{
	/* margin-top:-150px; */
	/* margin-left:900px; */
	/* bottom:0; */
	/* right: 0; */
	top: 10px;
	float: right;
	border:1px solid lightgrey;
	border-radius:50%;
	position:relative;
	z-index: 0;
}

#project{
	background-color: #ECFAFF;
	z-index: -1;
	width:100vw;
	padding-bottom:50px;
}

.nav-wrapper{
	color:black;
}

.navbar-brand, .about, .portfolio, .contact{
	margin-left:25px;
	color:black;
	font-family: 'Barlow Semi Condensed';
	font-size:20px;
}

a.brand-logo{
	font-size:25px;
}

.cover-photo img{
	width:100vw;
	display: block;
	margin:auto;
	margin-bottom:20px;
	/*height:400px;*/
}

@media screen and (min-width : 800px){
	.parallax {
	    background: url("../images/coding.jpeg") no-repeat center;
	    min-height: 850px;
	    background-attachment: fixed;
	    background-size: cover;
	}
}

@media screen and (max-width : 800px){
	.background-image{
		background: url("../images/coding.jpeg") no-repeat center;
		min-height: 400px;
		background-size: cover;
		margin-bottom: 0px;

	}
}



#about-head{
	font-size:40px;
	text-align:left;
	padding-top:0px;
	/* background-color: #E0FAFF; */
	width: 100vw;
}



#about-me, #project, #contact{
	font-family:'Barlow Semi Condensed';
	font-size:20px;
	margin-bottom:20px;
}

.circle-circle {
  height:10px;
  width:10px;
  border-radius:50%;
  padding:0px;
  margin-top:10px;
  margin-bottom:15px;
  margin-right:35px;
  background: radial-gradient(circle at 1px 1px, lightgrey, #000);
}

#contact{
	background-color:#ECFAFF ;
	width: 100vw;
	/* z-index: -1; */
}

#contact h4{
	/*margin:30px;*/
	font-weight:bolder;

}

#contact-pictures img{
	margin:10px;
	/*width:100vw;*/
}

.resume-icon:hover { 
	transform: scale(1.2); 
}
.gmail-icon:hover { 
	transform: scale(1.2); 
}
.linkedin-icon:hover { 
	transform: scale(1.2); 
}
.github-icon:hover { 
	transform: scale(1.2); 
}



/*.gmail-icon, .resume-icon, .linkedin-icon, .github-icon{
	border:2px solid white;
	border-radius:50%;
	background-color:lightblue;
	padding:10px;
}*/

.seperator1, .seperator2, .seperator3{
	padding-bottom:20px;
}

.seperator2{
	/* background-color:#ECFAFF ; */
}

#class-projects{
	font-family:'Barlow Semi Condensed';
}

#class-projects img{
	display: inline-block;
	margin-bottom: 10px;
}

#class-projects a{
	margin-bottom: 20px;
}


