.container-fluid{
	padding-left: 0px;
}

.col-sm-12{
	padding: 0px;
}

.name{
	text-align: center;
	font-family: 'Satisfy', cursive;
	font-size: 25px;
	margin-top: 200px;
	z-index: 1000;	
}

.desc{
	text-align:center;
	font-size: 70px;
	font-family: 'News Cycle', sans-serif;
	margin-top: 10px;
}

.blah{
	text-align: center;
	font-family: 'Satisfy', cursive;
	font-size: 25px;
	margin-top: 10px;
}

@media screen and (max-width : 591px){
	.desc{
		font-size: 40px;
	}
}

@media screen and (max-width : 591px){
	.name{
		font-size: 15px;
	}
}

@media screen and (max-width : 591px){
	.blah{
		font-size: 15px;
	}
}


#apc{
	text-align: center;
}

#apc span{
	margin: 10px;
	font-family: 'News Cycle', sans-serif;
	font-size: 20px;
	/* visibility: hidden; */
}


i {
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 10px;
    position:  relative;
    left: 50%;
    cursor: pointer;
    margin-bottom: 20px;
}

.down {
    transform: rotate(45deg);    
}


#atlanta{
	background: url("../images/skyline.jpeg") no-repeat;
	background-size: cover;
	height: 100%;
	z-index: -1;
	opacity: 0.42;
	position: absolute;
	/* left: 0; */
	/* bottom: 0; */
	width: 100vw;
}

@media screen and (max-width : 671px){
	.atlanta{
		height: 800px;
		
	}
}


/* @media screen and (min-width : 850px){
	#height{
		height: 100vh;
		
	}
} */


.background-image{
	background: url("../images/homeback.jpeg") no-repeat center;
	height:100vh;
	background-size: cover;
	margin-bottom: 0px;
	z-index: -1

}


#about-head{
	font-size:60px;
	text-align:left;
	padding-top:0px;
	margin-bottom: 10px;
	/* background-color: #E0FAFF; */
	
}



#about-me, #contact{
	font-family:'Open Sans Condensed';
	font-size:23px;
	/* margin-bottom:20px; */
	opacity: 1;

}


#contact{
	width: 100vw;
}

#contact h4{
	font-weight:bolder;
}

#contact-pictures img{
	margin:10px;
}

.resume-icon:hover { 
	transform: scale(1.2); 
}
.gmail-icon:hover { 
	transform: scale(1.2); 
}
.linkedin-icon:hover { 
	transform: scale(1.2); 
}
.github-icon:hover { 
	transform: scale(1.2); 
}


.projects{
	font-family:'Open Sans Condensed';
	font-size: 50px;
	margin-top: 20px;
}


.contact-buttons{
	margin:15px 8px;
}

.contact-buttons a{
	text-decoration: none;
	color: white;
}

#project-page{
	margin-top: 0px;
}

.project-image, .project-image2, .project-image3{
	width: 110%;
	height: 350px;
	/* box-shadow: 9px 9px 17px -6px rgba(0,0,0,0.75); */
	box-shadow: 9px 9px 39px -6px rgba(0,0,0,0.75);
}

.project-text{
	margin-top: 10px;
	font-size: 19px;
	font-family: 'Lato';
	line-height: 32px;
}

.project-title{
	font-size: 45px;
	font-family:'Lato';
	font-weight: bolder;
	margin-bottom: 15px
}

.image-border{
	border-bottom: 2px solid lightgrey;
	border-right: 2px solid lightgrey;
}

.icon-image{
	margin-top: 20px;
	margin-bottom: 40px;
	font-size: 25px;
	font-family: Open Sans Condensed;
}

.right-image-border{
	border-bottom: 2px solid lightgrey;
}

.images-icon{
	margin-top: 18px;
}

.bottom-image-border{
	border-right: 2px solid lightgrey;
}

#skills-title{
	font-family: Open Sans Condensed;
	font-size: 60px;
	margin-bottom: 20px;
}

.text-content{	
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  text-align: center;
  vertical-align: middle;
  opacity: 0;
  transition: opacity 500ms;
  position: relative;
  bottom: 350px;
  width: 110%;
  /* height: 350px; */
}

a{
	margin-top: 0px;
	text-decoration: none;
	color: black;
}

.nav-bar{
	position: sticky;
	top: 8px;
	margin-bottom: 10px;
	z-index: 3;

}

#about-nav, #skills-nav, #project-nav, #contact-nav{
	border: 2px solid lightblue;
	border-radius: 20px;
	height: 35px;
	background-color: white;
	margin: 2px;
	width: 80px;

}

.text{
	margin-top: 3px;
	font-family: "Open Sans Condensed";
	font-size: 16px;
	overflow: scroll;
	height: 200px;
}

#height{
	/* border: 1px solid black; */
	/* height: 300px; */
	overflow: scroll;
}

@media screen and (max-width: 995px){
	#project-box{
		height: 200px;
		overflow: scroll;
	}
}

@media screen and (max-width: 995px){
	#about-me{
		font-size: 14px;
		height: 300px;
	}
}


@media screen and (max-width: 995px){
	#about-head{
		font-size: 30px;
	}
}

@media screen and (max-width: 995px){
	.project-image, .project-image2, .project-image3{
		height: 150px;
	}
}

@media screen and (max-width: 995px){
	.project-text{
		font-size: 12px;
		line-height: 20px;
	}
}

@media screen and (max-width: 995px){
	.project-title{
		font-size: 25px;
	}
}

@media screen and (max-width: 995px){
	.images-icon{
		height:30px;
	}
}

@media screen and (max-width: 652px){
	.show-me{
		font-size:10px;
	}
}

@media screen and (max-width: 652px){
	.icon-image{
		font-size:14px;
	}
}







