nav{
	width:100vw;
	/*float:left;*/
	margin:0px;
	padding:0px;
	text-align:left;
	background-color:white;
	color:black;
}

.brand-logo{
	margin-left:25px;
}

.cover-photo img{
	width:90vw;
	display: block;
	margin:auto;
	/*height:400px;*/
}



.about-head{
	font-size:40px;
	text-align:center;
}